<body>
    <nav>
        <div class="row">
            <div class="col-md-4">
                <img class="logo" src="pix/logo.png" alt="logo">
            </div>
            <div>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="#"><img src="pix\messanger.png" alt="">Messanger</a></li>
                    <li class="nav-item"><a href="#"><img src="pix\doctor.png" alt="">Doctor</a></li>
                    <li class="nav-item"><a href="#"><img src="pix\dashboard.png" alt="">Dashboard</a></li>
                    <li class="nav-item"><a href="#"><img src="pix\account-active.png" alt="">Account</a></li>
                </ul>
            </div>
            <div class="not">
                <ul class="nav justify-content-right">
                    <li class="nav-iteem"><img src="pix/notification icon.png" alt=""></li>
                    <li class="nav-iteem"><img id="ib" src="pix\pix-5.png" alt=""></li>
                    <li class="nav-iteem"><h5>Ibironke Umahi</h5></li>
                </ul>
                
            </div>
        </div>
    </nav>

    <div class="row">
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active"><img src="pix/filter.png" alt="">FILTERS</li>
                    <li class="list-group-item">CATEGORY <img class="add" src="pix/add new.png" alt=""></li>
                    <li class="list-group-item">LOCATION <img class="add" src="pix/add new.png" alt=""></li>
                    <li class="list-group-item">EXPERIENCE <img class="add" src="pix/add new.png" alt=""></li>
                </ul>
            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" placeholder="Search All Doctors" type="search">
                    </div>
                </div>

                <div class="row doc">

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-1.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li>Health</li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-1.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li> Health
                                </li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-1.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li> Health</li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE</a>
                        </div>
                    </div>

                </div>

                 <div class="row doc">

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-4.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li>Health</li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-5.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li> Health
                                </li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cnt-block">
                            <span class="rounded-circle"> 
                                <img src="pix/pix-6.png" class="imgg" alt="">
                            </span>
                            <h3>Akande Saheed</h3>
                            <p class="occ">Cardiologist</p>
                            <p>Lagos, Nigeria </p>
                            <ul class="follow">
                                <li>Clinical Sexology</li>
                                <li>Emergency</li>
                                <li> Health</li>
                            </ul>
                            <a href="#" class="but">VIEW PORFILE</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    



    <script src="bootstrap-4.0.0-dist/js/bootstrap.min.js">


</body>

</html></script></body>